body{
  font-family: 'Alegreya', serif;
	margin:0;
	width:100%;
	height:100vh;
}
header{
	width:100%; 
  height: 113px;
	background-image: url("img/df-page-logo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
	line-height:60px;
  border-bottom: 2px solid #1C2510;
}
button {
  background-color: #ffffff;
  color: #1C2510;
  position: absolute;
  top: 113px;
  left: calc(50% - 40px);
  width: 80px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  z-index:10000000000000;
  border-radius: 6%;
  outline: none;
  border: 0;
  border-top: 2px solid #1C2510;
}

.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#1C2510; padding-top: 20px; position:absolute; text-align:center;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#120D0A 1px solid;}
.menu li:hover{display: block;    background:#1C2510; padding:15px 0 15px 0; border-bottom:#120D0A 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
.menu ul li a:hover {  color: #fff; text-decoration:none;}
.menu a{text-decoration:none; color:white;}
.menu a:hover{text-decoration:none; color:white;}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}

.info-box {
  position: absolute;
  top: 115px;
  height: calc(100% - 115px);
  width: 100%;
}

h1 {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.home {
  background-color: #120D0A;
  color: #ffffff;
}
.home-content {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  max-width: 100%;
}
.home-image {
  max-width: 100%;
}
.home-text {
  background-color: #120D0A;
  width: 500px;
  max-width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

.about {
  background-color: #1C2510;
  color: #ffffff;
}
.about-content {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.about-image {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  background-color: red;
  margin-bottom: 10px;
}
.about-text {
  width: 100%;
  background-color: #1C2510;
  text-align: center;
}

.location {
  background-color: #ffffff;
  color: #120D0A;
}
.location-content {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.map {
  width: 450px;
  max-width: 100%;
  height: 450px;
  left: 0;
  background-color: red;
  margin: 5px;
}
.location-text {
  width: 450px;
  max-width: 100%;
  right: 0;
  margin 5px;
  padding-left: 10px;
}

.contact {
  background-color: #F1C00B;
  color: #120D0A
  padding: 25px;
}
.contact-text {
  background-color: #ffffff;
  width: 600px;
  max-width: 100%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.contact-list {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
.contact-image {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.footer {
  width: 100%;
  text-align: center;
  bottom: 0;
}